
.container{
    padding: 20px 0 60px;
}

.container-content {
    padding: 25px 0px 0px 25px;
}

.container-content__name {
    background-color: #0088cc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    width: 96%;
}


.container-content__name__title {
    font-size: 1.6rem;
    padding-left: 15px;
    display: block;
}

.container-content__name__icon__down {
    margin-right: 12px;
    font-size: 1.6rem;
}

.container-content__name__icon__content {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
    margin-left: 40px;
    color: #999;
    padding-top: 5px;
    width: 92%;
}
